*.png filter=lfs diff=lfs merge=lfs -text
config/gopass/config.yml filter=git-crypt diff=git-crypt
config/redshift.conf filter=git-crypt diff=git-crypt
gitconfig.local filter=git-crypt diff=git-crypt
gitconfig.w2 filter=git-crypt diff=git-crypt
ssh/config filter=git-crypt diff=git-crypt
weechat/irc.conf filter=git-crypt diff=git-crypt
weechat/plugins.conf filter=git-crypt diff=git-crypt
weechat/sec.conf filter=git-crypt diff=git-crypt
weechat/weechat.conf filter=git-crypt diff=git-crypt
