[Unit]
Description=Polybar
Documentation=man:polybar(1)

[Service]
ExecStart=%h/.local/bin/polybar-launch
KillSignal=SIGHUP

[Install]
WantedBy=default.target
