[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
After=display-manager.service

[Service]
ExecStart=/usr/bin/sxhkd -c %S/sxhkd/sxhkdrc %S/sxhkd/sxhkdrc.local
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=graphical.target
