[Unit]
Description=Udiskie
Documentation=man:udiskie(8)

[Service]
ExecStart=/usr/bin/udiskie
KillSignal=SIGINT

[Install]
Requires=udisks2.service
WantedBy=multi-user.target
